* {
    box-sizing: border-box;
    background-color: grey;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;

#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    gap: .5vmin;
    margin-top: -2vmin;
    background-color: green;
}