* {
    box-sizing: border-box;
    background-color: grey;
    /* cursor: crosshair; */
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
    font-family: 'Black Ops One', sans-serif;
}

h1 {
    font-size: 140px;
    margin-top: 17px;
    text-decoration: underline solid;
}

#boardhold {
    display: flex;
    justify-content: space-between;
    gap: 10vh
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 8vmin);
    grid-template-rows: repeat(8, 8vmin);
    gap: .4vmin;
    margin-top: -50px;
    background-color: rgb(0, 255, 0);
}
#board2 {
    display: grid;
    grid-template-columns: repeat(8, 8vmin);
    grid-template-rows: repeat(8, 8vmin);
    gap: .4vmin;
    margin-top: -50px;
    background-color: rgb(0, 255, 0);
}

.box:hover {
    transform: scale(.95);
}

.cBox:hover {
    transform: scale(.95);
}

/*corners*/
#v0h7 {
    border-top: 4px solid rgb(0, 255, 0);
    border-left: 4px solid rgb(0, 255, 0);
}
#v7h7 {
    border-top: 4px solid rgb(0, 255, 0);
    border-right: 4px solid rgb(0, 255, 0);
}
#v0h0 {
    border-bottom: 4px solid rgb(0, 255, 0);
    border-left: 4px solid rgb(0, 255, 0);
}
#v7h0 {
    border-bottom: 4px solid rgb(0, 255, 0);
    border-right: 4px solid rgb(0, 255, 0);
}
/*corners*/

/*top*/
#v1h7, #v2h7, #v3h7, #v4h7, #v5h7,#v6h7 {
    border-top: 4px solid rgb(0, 255, 0);
}
#v1h0, #v2h0, #v3h0, #v4h0, #v5h0,#v6h0 {
    border-bottom: 4px solid rgb(0, 255, 0);
}
/*bottom*/

/*left*/
#v0h1, #v0h2, #v0h3, #v0h4, #v0h5, #v0h6 {
    border-left: 4px solid rgb(0, 255, 0);
}
#v7h1, #v7h2, #v7h3, #v7h4, #v7h5, #v7h6 {
    border-right: 4px solid rgb(0, 255, 0);
}
/*right*/

/*corners*/
#c0r7 {
    border-top: 4px solid rgb(0, 255, 0);
    border-left: 4px solid rgb(0, 255, 0);
}
#c7r7 {
    border-top: 4px solid rgb(0, 255, 0);
    border-right: 4px solid rgb(0, 255, 0);
}
#c0r0 {
    border-bottom: 4px solid rgb(0, 255, 0);
    border-left: 4px solid rgb(0, 255, 0);
}
#c7r0 {
    border-bottom: 4px solid rgb(0, 255, 0);
    border-right: 4px solid rgb(0, 255, 0);
}
/*corners*/

/*top*/
#c1r7, #c2r7, #c3r7, #c4r7, #c5r7,#c6r7 {
    border-top: 4px solid rgb(0, 255, 0);
}
#c1r0, #c2r0, #c3r0, #c4r0, #c5r0,#c6r0 {
    border-bottom: 4px solid rgb(0, 255, 0);
}
/*bottom*/

/*left*/
#c0r1, #c0r2, #c0r3, #c0r4, #c0r5, #c0r6 {
    border-left: 4px solid rgb(0, 255, 0);
}
#c7r1, #c7r2, #c7r3, #c7r4, #c7r5, #c7r6 {
    border-right: 4px solid rgb(0, 255, 0);
}
/*right*/